<div class="container">
  <div class="row pt-5 text-center">
    <h3>
      本当に退会しますか？
      <br>
      <br>
      退会手続きをされますと、全てのサービスがご利用いただけなくなります。<br>
      再度ご利用をいただく場合には、新規登録のお手続きが必要になります。<br>
      本当に退会してよろしいですか？
    </h3>
  </div>
  <div class="row pt-2 text-center">
    <div class="col-lg-3 mb-3"></div>
    <div class="col-lg-2 mb-3">
      <%= link_to "退会する", customers_withdrawal_path,class:"btn btn-primary" , method: :patch, data: { confirm: "本当に退会しますか？" } %>
    </div>
    <div class="col-lg-2 mb-3">
      <%= link_to "退会しない", customers_mypage_path,class:"btn btn-danger" %>
    </div>
    <div class="col-lg-4 mb-3"></div>
  </div>
</div>
